.Coin {
     max-width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: antiquewhite;
     margin-top: 5px;
     list-style: none;
     cursor: grab;
 }


 
 .CoinImg {
     width: 80px;
 }
 .CoinApp a {
     text-decoration: none;
     color: black;
 }

 .myLine {
    max-width: 90%;
    max-height: 500px;
    
 }

 .CoinApp {
    width: 100%;
 }

